.bloc-conseils{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.conseil-blocConseil p{
    text-align: center;
}
.conseil-blocConseil{
    margin: 0px 30px ;
}
.opacity{
    opacity: 0.5;
    margin: 10px;
}
.no-opacity{
    opacity: 1;
    margin: 10px;
}
.icon-conseils{
    display: flex;
    margin-top: 20px;
}