.blocGraph{
    padding: 20px;
}
.graph{
    margin-top: 20px;
    padding: 10px;
    border: solid 1px black;
}
.btns-graph{
    margin-left: 0;
}
.btn-retour-centred{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
 
 