.indiceDuJour-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0 10px 0 10px;
}
.indiceDuJour-part1{
    font-size: 26px;
    color: white;
}
.indiceDuJour-part2{
    display: flex;
    align-items: center;
}
.indice-smiley-child{
    margin: 10px;
}
@media all and (max-width: 424px)
{
    .indiceDuJour-part2{
        flex-direction: column-reverse;
    }
    .indiceDuJour-part2-meteo {
        flex-direction: column;
    }
}