.backPollution {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vh;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }
  .today-bloc{
     
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 20px 30px 20px;
      background-color: rgba(255, 255, 255, 0.4);
      max-width: 100%;;
    }
  .indice-today {
      height: 100px;
      margin: 10px;
  }
  .text-today{
      text-align: right;
  }
