.home-container {
    margin: 15px auto 60px auto;
    width: 100vw;
    text-align: center;
}
.test-border {
    padding: 15px 0 15px 0;
}
.home-opacity {
    background-image: linear-gradient(to left, rgba(250,250,250,0), rgba(250,250,250,0.5));
    padding: 4% 0;
}
.index-vertical-row {
    width: 5px;
    height: auto;
    align-items: center;
    vertical-align: middle;
    background-color: lightgrey;
    opacity : 0.2;
    border-radius: 1em;
}
.main-main{
    padding-right: calc(10px + 4vw);
}
.bloc-city{
    width: 100%;
}
.bloc-city-date{
    width: 100%;
}
.blocPolAir{
    padding: 10px 0 10px 0;
}
@media all and (max-width: 380px){
    .mascotte-border img{
        width: 100%;
    }
}
@media all and (max-width: 960px){
    .home-container{
        margin: 0 auto 15px auto;
    }
}