.home-container {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    text-align: center;
}
.home-opacity {
    background-image: linear-gradient(to left, rgba(250,250,250,0), rgba(250,250,250,0.5));
    padding: 4% 0;
}
.index-vertical-row {
    width: 5px;
    height: auto;
    align-items: center;
    vertical-align: middle;
    background-color: lightgrey;
    opacity : 0.2;
    border-radius: 1em;
}
.main-main{
    padding-right: 4vw;
}
.main-child{
    vertical-align: middle;
}
@media all and (max-width: 370px){
    .mascotte-border img{
        width: 100%;
        
    }
}