body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*FONTS --------------------------*/
.city-all-pages {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(10px + 5vw);
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  color: white;
  width: 50vw;
  word-wrap: break-word;
  text-shadow: 0.05em 0.05em 0.05em darkgray;
}
.date-all-page {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(15px + 1vw);
  font-weight: 600;
  text-align: right;
  color: white;
  word-wrap: break-word;
  text-shadow: 0.05em 0.05em 0.05em darkgray;
}
.comment-all-page {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(10px + 3vw);
  font-weight: 400;
  text-transform: capitalize;
  text-align: right;
  color: white;
  margin: 25px 0 5px 0;
  word-wrap: break-word;
  text-shadow: 0.05em 0.05em 0.05em darkgray;
}

@media all and (min-width:426px){
  .city-all-pages{
    width: 100%;
  }
}